@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  padding: 0;
  margin: 0;
}

/* #5b7065, black */
body {
  background-color: #f7f7f7;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

button {
  height: fit-content;
  cursor: pointer;
}

.app {
  width: 600px;
  margin: auto;
  padding: 50px 0;
}

.main-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #5bc0de;
}

.main-header h1{
  text-shadow: 2px 3px 5px rgba(0,0,0,0.1);
}

.tasks-header{
 color: #d9534f;
 border: 1px dotted #d9534f;
 border-radius: 5px;
 padding: 10px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}fds

.completed-header{
  color: #5cb85c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px dotted #5cb85c;
  border-radius: 5px;
  padding: 10px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0px 0px 10px 0px;
}

.input-container input {
  width: 100%;
  font-family: inherit;
  border: none;
  font-size: 1.2rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 18px;
  outline: none;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  border: 1px solid whitesmoke;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.input-container input:focus{
  box-shadow: 0 0 5px #0275d8;
  border: 1px solid #0275d8;
}

.input-container button {
  color: white;
  font-family: inherit;
  border: none;
  background-color: #0275d8;
  padding: 22px;
  font-size: 1.2rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.to-do-list,
.complete-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.to-do-list i {
  color: white;
  cursor: pointer;
}

.to-do-list button,
.completed-header button {
  padding: 8px;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  font-family: inherit;
  border: none;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  min-height: 100px;
  position: relative;
}

.item .deleteItem{
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 22px;
  color: #d9534f;
}

.item .editItem{
  position: absolute;
  bottom: 3px;
  left: 5px;
  cursor: pointer;
  font-size: 22px;
  color: #f0ad4e
}

.item .completeItem{
  position: absolute;
  bottom: 3px;
  right: 5px;
  cursor: pointer;
  font-size: 22px;
  color: #5cb85c;
}

.deleteItems{
  font-size: 22px;
  cursor: pointer;
}

.item textarea {
  width: 100%;
  min-height: 80px;
  outline: none;
  border: none;
  resize: none;
  line-height: 1.4;
  color: black;
  border-radius: 5px;
  background-color: transparent;
  font-size: 1.2rem;
  font-family: inherit;
  transition: all 0.30s ease-in-out;
}

textarea:focus {
  box-shadow: 0 0 5px white;
}

.input-controller {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.edit-controller {
  display: flex; 
  gap: 10px;
}

.edit-controller button{
  display: flex;
  gap: 5px;
  align-items: center;
}

.update-controller {
  display: none;
}

@media(max-width: 768px) {
  .app {
    width: 95%;
  }

  .input-header {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .to-do-input {
    display: flex;
  }

}
